<div class="collapsible">
  <header class="collapsible__header collapsible--expanded">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--white colapsible__chevron">
      <use xlink:href="./images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nisi molestias sint
    distinctio iste aperiam recusandae cum eveniet asperiores. Autem.</div>
</div>
<script src="js/main.js"></script>